.canvas {
    height: 320px;
    width: 480px;
    background: lightgray;
}

.lander {
    width: 50px;
    height: 50px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}